<!--- Footer ---->

<footer class="mt-auto page-footer font-small bg-dark text-light fixed-bottom">

    <!--- Copyright --->
    <div class="footer-copyright text-center py-2">
    © 2022 Copyright:
    <%= link_to "Friends App", root_path, class:""%>
    </div>
</footer>